body {
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    color: #1d1d1d;
}


/* .tiptap-editor {
    height: 98vh;
    display: flex;
} */

.search-result {
    background-color: yellow;
}

.search-result-current {
    background-color: #FA9248;
    color: black;
    font-weight: 600;
    /* color: red; */
}

.tiptap-editor .ProseMirror:focus-visible {
    outline: none !important;
}

.ProseMirror p {
    margin: 0.3rem 0;
    line-height: 1.2rem;
}

.ProseMirror a {
    color: #1d1d1d;
    cursor: pointer;
}

.ProseMirror a:hover {
    opacity: 0.85;
}

.ProseMirror ul {
    padding-left: 1.5rem;
}

.tiptap-editor ul[data-type=taskList] {
    list-style: none;
    padding-left: 0;
}

.tiptap-editor ul[data-type=taskList]>li {
    align-items: baseline;
    display: flex;
}

.tiptap-editor ul[data-type=taskList] li label {
    margin-right: 0.1rem;
}

.tiptap-editor .highlight-match {
    border-radius: 0.1rem;
    padding: 0 0.1rem;
    cursor: pointer;
}

.tiptap-editor .highlight-match:hover {
    opacity: 0.85;
}


.collapsible-list {
  position: relative;
  padding-left: 1.5rem;
}

.collapse-toggle {
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

.list-content.collapsed {
  display: none;
}